<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>姓名案例_计算属性实现</title>
  <script src="../../js/vue.js"></script>
</head>

<body>
  <div class="root">
    姓: <input type="text" v-model="xing"><br>
    名: <input type="text" v-model="ming"><br>
    姓名：<span>{{fullName}}</span>
  </div>
</body>
<script>
  const vm = new Vue({
    el: '.root',
    data: {
      xing: '张',
      ming: '三',
      fullName: '张-三'
    },
    
     watch:{
      xing(newValue){
        setTimeout(()=>{
          console.log(this);
          this.fullName = newValue + '-' + this.ming;
        },1000)
     },
     ming(newValue){
      this.fullName = this.xing + '-' + newValue;
     }

      
     }
  })
</script>

</html>